[submodule "tf-pose-estimation"]
	path = tf-pose-estimation
	url = https://github.com/kv3n/tf-pose-estimation.git
[submodule "Mask_RCNN"]
	path = Mask_RCNN
	url = https://github.com/kv3n/Mask_RCNN.git